name: Build Flarial Edu

on:
  push:
    branches: [ "main" ]
    tags:
      - 'beta-*'
      - 'release-*'
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  check-commit:
    runs-on: ubuntu-latest
    outputs:
      should_build: ${{ steps.check.outputs.should_build }}
      type: ${{ steps.check.outputs.type }}
    steps:
      - name: Check if build is needed
        id: check
        run: |
          # Default to true for your port repo to make life easier
          echo "should_build=true" >> "$GITHUB_OUTPUT"
          
          if [[ "${{ github.ref_type }}" == "tag" ]]; then
              if [[ "${{ github.ref_name }}" == beta-* ]]; then
                  echo "type=2" >> "$GITHUB_OUTPUT"
              elif [[ "${{ github.ref_name }}" == release-* ]]; then
                  echo "type=1" >> "$GITHUB_OUTPUT"
              fi
          elif [[ "${{ github.event.head_commit.message }}" == *"nightly:"* ]]; then
              echo "type=0" >> "$GITHUB_OUTPUT"
          elif [[ "${{ github.event.head_commit.message }}" == *"release:"* ]]; then
              echo "type=1" >> "$GITHUB_OUTPUT"
          elif [[ "${{ github.event.head_commit.message }}" == *"beta:"* ]]; then
              echo "type=2" >> "$GITHUB_OUTPUT"
          else
              echo "type=0" >> "$GITHUB_OUTPUT" # Default to Nightly type
          fi

  windows-build:
    runs-on: windows-latest
    needs: check-commit
    if: needs.check-commit.outputs.should_build == 'true'
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set Up MSVC Environment
        uses: ilammy/msvc-dev-cmd@v1

      - name: Configure CMake
        run: |
          cmake -S . -B build -G "Ninja" -DCMAKE_BUILD_TYPE=Release

      - name: Build DLL
        run: |
           cmake --build build --target Flarial --config Release

      - name: Upload DLL
        uses: actions/upload-artifact@v4
        with:
           name: Flarial_Edu_DLL
           path: build/Flarial.dll # Point directly to the build folder